<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Twilio Positions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link href="home.css" type="text/css" rel="stylesheet">
  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/">Career App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home</a>
          <a class="nav-item nav-link active" href="/airbnb">Airbnb</a>
          <a class="nav-item nav-link disabled" >Twilio<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link active" href="/yext">Yext</a>
        </div>
      </div>
    </nav>

    <div class="container" style="margin-top: 5%;">
      <h3 style="text-align:center; margin:3%;">Opening positions at Twilio</h3>
      <div class="row">
      {% for twilioJob in twilioJobs %}

          <div class="col-lg-3 col-md-4 col-sm-6" style="padding: 1.2%;">
            <div class="card" style="margin-right:2px;height:400px;">
              <img class="card-img-top" style="width: auto; height: 150px;" src="..\static\twilio.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{twilioJob['position']}}</h5>
                <p class="card-text">Location: {{twilioJob['location']}}</p>
                <a href="{{twilioJob['link']}}" target="_blank" class="btn btn-primary">More Detail</a>
              </div>
            </div>
          </div>

      {% endfor %}
      </div>
    </div>

    <!-- include jquery for navbar -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- include Javacript for navbar -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
